<div class="row bg-secondary p-2 mt-2">
     <h3 class="text-center">Filtrar por categoría</h3>
     <form action="">
       <div class="form-group">
         <label for="categorias">Categorías</label>
         <select name="categorias[]" id="categorias" class="form-control selectpicker mb-2" data-style="" btn-primary>
           <option *ngFor="let categoria of categorias" [value]="categoria.id">{{ categoria.attributes.nombre }}</option>
         </select>
       </div>
       <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
     </form>
</div>