<header class="container-fluid text-center text-primary-emphasis bg-primary">
  <div class="row">
    <div class="col-12">
      <h1>Bienvenido a tu Gestor de Imagenes!</h1>
    </div>
  </div>
</header>
<main class="container-fluid">
  <div class="row">
    <div class="col-8 pt-2 ps-3" style="max-height: 700px; overflow-y: auto;">
      <app-galeria></app-galeria>
    </div>
    <div class="col-4 text-light border-start border-5 border-dark py-2 p-3 pe-3">
      <app-subir-imagen></app-subir-imagen>
      <app-nueva-categoria></app-nueva-categoria>
      <app-filtrar></app-filtrar>
    </div>
  </div>
</main>